@model Proyect.Models.Reserva

@{
    ViewData["Title"] = "Detalles de la Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Detalles de la Reserva</h1>

<div>
    <h4>Datos del Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <strong>Nombre:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            <strong>Apellido:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido)
        </dd>
        <dt class="col-sm-2">
            <strong>Documento:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Documento)
        </dd>
        <dt class="col-sm-2">
            <strong>Celular:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Celular)
        </dd>

        <dt class="col-sm-2">
            <strong>Correo:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.CorreoElectronico)
        </dd>
    </dl>
</div>

<h4>Reserva</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FechaReserva)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FechaReserva)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FechaInicio)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FechaInicio)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FechaFin)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FechaFin)
    </dd>


    <!-- Paquetes seleccionados -->
    <dt class="col-sm-2">Paquetes Seleccionados</dt>
    <dd class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre del Paquete</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paquete in ViewBag.DetallePaquetes)
                {
                    <tr>
                        <td>@paquete.Paquete</td>
                        <td>@paquete.Precio.ToString("C2", new System.Globalization.CultureInfo("es-CO"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </dd>

    <!-- Servicios seleccionados -->
    <dt class="col-sm-2">Servicios Seleccionados</dt>
    <dd class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre del Servicio</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servicio in ViewBag.DetalleServicios)
                {
                    <tr>
                        <td>@servicio.Servicio</td>
                        <td>@servicio.Cantidad</td>
                        <td>@servicio.Precio.ToString("C2", new System.Globalization.CultureInfo("es-CO"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </dd>

    <!-- Mostrar el Total -->
    <dt class="col-sm-2">
        <strong>Total</strong>
    </dt>
    <dd class="col-sm-10">
        <strong>@Model.Total.ToString("C2", new System.Globalization.CultureInfo("es-CO"))</strong>
    </dd>
</dl>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<div>
    <a asp-action="DescargarPDF" asp-route-id="@Model.IdReserva" class="btn btn-primary">Descargar PDF</a>
</div>


