@model IEnumerable<Proyect.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Roles</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-custom">Crear nuevo rol</a>
</p>

<table class="table table-striped table-hover" id="RolesTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NombreRol)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreRol)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td class="action-icons">
                    <a asp-action="Edit" asp-route-id="@item.IdRol" class="btn btn-icon"><i class="bi bi-pencil-square"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdRol" class="btn btn-icon"><i class="bi bi-info-lg"></i> Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdRol" class="btn btn-icon"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#RolesTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:"
                }
            });
        });
    </script>
}
