@model Proyect.Models.TipoMueble

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-title">Eliminar Tipo de Mueble</h3>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}<div class="delete-container">
    <div class="card">
        <div class="card-header text-white bg-danger">
            <h4>Confirmación de Eliminación</h4>
        </div>
        <div class="card-body">
            <h3>¿Está seguro de que desea eliminar este tipo de mueble?</h3>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="IdTipoMueble" />
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>
