@model Proyect.Models.Mueble

@{
    ViewData["Title"] = "Detalles del Mueble";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Detalles del Mueble</h1>

<div class="details-container">
    <div class="card">
        <div class="card-header">
            <h4>Información del Mueble</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nombre del Mueble</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3">Descripción</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-3">Fecha de Registro</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>
                <dt class="col-sm-3">Tipo de Mueble</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdTipoMuebleNavigation.Nombre)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Edit" asp-route-id="@Model?.IdMueble" class="btn btn-primary btn-sm">Editar</a>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
        </div>
    </div>
</div>
