@model Proyect.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Eliminar Usuario</h1>

<div class="delete-container">
    <div class="card">
        <div class="card-header text-white bg-danger">
            <h4>Eliminar Usuario</h4>
        </div>
        <div class="card-body">
            <h5>¿Estás seguro de que deseas eliminar este usuario?</h5>
            <p><strong>Nota:</strong> Esta acción no puede deshacerse.</p>

            <dl class="row">
                <!-- Tipo de Documento -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TipoDocumento)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TipoDocumento)
                </dd>

                <!-- Documento -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Documento)
                </dd>

                <!-- Nombre -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <!-- Apellido -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Apellido)
                </dd>

                <!-- Celular -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Celular)
                </dd>

                <!-- Dirección -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <!-- Correo Electrónico -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CorreoElectronico)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CorreoElectronico)
                </dd>

                <!-- Estado -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estado)
                </dd>

                <!-- Fecha de Creación -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaCreacion)
                </dd>

                <!-- Rol -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IdRolNavigation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdRolNavigation.NombreRol)
                </dd>
            </dl>
        </div>

        <div class="card-footer text-end">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdUsuario" />
                <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
                <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>
