@model IEnumerable<Proyect.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-custom"><i class="bi bi-plus-square"></i>Crear</a>
</p>

<table class="table" id="UsuariosTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TipoDocumento)</th>
            <th>@Html.DisplayNameFor(model => model.Documento)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.IdRolNavigation)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TipoDocumento)</td>
                <td>@Html.DisplayFor(modelItem => item.Documento)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" class="status-toggle" data-id="@item.IdUsuario" @(item.Estado ? "checked" : "")>
                        <span class="slider"></span>
                    </label>
                </td>
                <td>@Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)</td>
                <td class="action-icons">
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-icon">
                        <i class="bi bi-pencil-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-icon">
                        <i class="bi bi-info-lg"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-icon">
                        <i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#UsuariosTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:",
                    "emptyTable": "NO HAY NINGUN ELEMENTO EN LA TABLA"
            
                }
            });

            // Actualizar estado del usuario al hacer clic en el checkbox
            $('.status-toggle').on('change', function () 
            {
            var usuarioId = $(this).data('id');
            var estado = $(this).prop('checked'); // true si está marcado, false si no

            // Llamada AJAX para actualizar el estado
            $.ajax({
            url: '@Url.Action("ActualizarEstado", "Usuarios")',
            type: 'POST',
            data: { id: usuarioId, estado: estado },
            success: function (data) {
                console.log("Estado actualizado correctamente");
                alert('Estado actualizado correctamente');
            },
            error: function () {
                console.log("Error al actualizar el estado");
                alert('Error al actualizar el estado');
            }
        });
    </script>
}
