@model IEnumerable<Proyect.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="Tituloscentro">Usuarios</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<p class="text-end">
    <a asp-action="Create" class="btn btn-modern">
        <i class="bi bi-plus-square"></i> Crear
    </a>
</p>


<table class="table records_list table table-striped table-bordered table-hover" id="UsuariosTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TipoDocumento)</th>
            <th>@Html.DisplayNameFor(model => model.Documento)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.IdRolNavigation)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TipoDocumento)</td>
                <td>@Html.DisplayFor(modelItem => item.Documento)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" class="status-toggle" data-id="@item.IdUsuario" @(item.Estado ? "checked" : "")>
                        <span class="slider"></span>
                    </label>
                </td>
                <td>@Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)</td>
                <td class="action-icons">
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-icon ov-btn-slide-yellow" data-toggle="tooltip" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-icon ov-btn-slide-blue" data-toggle="tooltip" title="Detalles">
                        <i class="bi bi-info-lg"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-icon ov-btn-slide-right" data-toggle="tooltip" title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#UsuariosTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:",
                    "emptyTable": "NO HAY NINGUN ELEMENTO EN LA TABLA"
                }
            });

            $('.status-toggle').change(function () {
                const estado = $(this).is(':checked');
                const idUsuario = $(this).data('id');

                $.ajax({
                    url: '/Usuarios/ActualizarEstado',
                    type: 'POST',
                    data: { id: idUsuario, estado: estado },
                    success: function (response) {
                        console.log('Estado actualizado');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al actualizar estado');
                    }
                });
            });
        });
    </script>
}
