@model IEnumerable<Proyect.Models.Abono>

@{
    ViewData["Title"] = "Lista de Abonos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="Tituloscentro">Lista de Abonos</h1>

<p>
    @if (ViewBag.Pendiente > 0)
    {
        <p class="text-end">
        <a asp-action="Create" asp-route-idReserva="@ViewBag.IdReserva" class="btn btn-modern"><i class="bi bi-plus-square"></i> Crear</a>
        </p>
    }
    else
    {
        <button class="btn btn-secondary" disabled>No se pueden crear más abonos</button>
    }
</p>

<table class="table" id="AbonoTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FechaAbono)</th>
            <th>@Html.DisplayNameFor(model => model.Valordeuda)</th>
            <th>@Html.DisplayNameFor(model => model.Pendiente)</th>
            <th>@Html.DisplayNameFor(model => model.ValorAbono)</th>
            <th>@Html.DisplayNameFor(model => model.Comprobante)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FechaAbono)</td>
                <td>@Html.DisplayFor(modelItem => item.Valordeuda)</td>
                <td>@Html.DisplayFor(modelItem => item.Pendiente)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorAbono)</td>
                <td>
                    @if (item.Comprobante != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Comprobante)"
                             alt="Comprobante"
                             style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>No disponible</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdAbono" class="btn ov-btn-slide-blue" data-toggle="tooltip" title="Detalles"><i class="bi bi-info-lg"></i></a>
                    @if (!item.Anulado)
                    {
                        <!-- Botón para anular la reserva -->
                        <form asp-action="Anular" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.IdAbono" />
                            <button type="submit" class="btn ov-btn-slide-right" data-toggle="tooltip" title="Anular">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled>Anulado</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AbonoTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:",
                    "emptyTable":"NO HAY NINGUN ELEMENTO EN LA TABLA"
                }
            });
        });
    </script>
}
