@model IEnumerable<Proyect.Models.Abono>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Abonos</h1>

<p class="text-end">
    <a asp-controller="Abonos" asp-action="Create" asp-route-idReserva="@ViewBag.IdReserva" class="btn btn-success"><i class="bi bi-plus-square"></i> Crear Abono</a>
</p>

<table class="table table-striped table-hover" id="AbonoTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdReservaNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.FechaAbono)</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdReservaNavigation.IdReserva)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaAbono)</td>
                <td>@Html.DisplayFor(modelItem => item.Subtotal)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td class="action-icons">
                    <a asp-action="Edit" asp-route-id="@item.IdAbono" class="btn btn-icon"><i class="bi bi-pencil-square"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAbono" class="btn btn-icon"><i class="bi bi-list"></i> Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAbono" class="btn btn-icon"><i class="bi bi-trash3"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AbonoTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:"
                }
            });
        })
    </script>
}
