@model Proyect.Models.Habitacione

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Estas seguro de eliminar la habitación?</h3>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div>
    <dl class="row">
        <div class="col-sm-2 ms-2">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </div>
        <div class="col-sm-2 ms-2">
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </div>
        <div class="col-sm-2 ms-1">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </div>
        <div class="col-sm-1 mx-4">
            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </div>
        <div class="col-sm-1 mx-1">
            <dt>
                @Html.DisplayNameFor(model => model.IdTipoHabitacionNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdTipoHabitacionNavigation.Nombre)
            </dd>
        </div>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHabitacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
