@model IEnumerable<Proyect.Models.Habitacione>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Habitaciones</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-square"></i></a>
</p>
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<table class="table" id="HabitacionesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoHabitacionNavigation)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" class="status-toggle" data-id="@item.IdHabitacion" @(item.Estado ? "checked" : "")>
                    <span class="slider"></span>
                </label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoHabitacionNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHabitacion"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdHabitacion"><i class="bi bi-list"></i></a> |
                <a href="#" class="btn-delete" data-id="@item.IdHabitacion"><i class="bi bi-trash3"></i></a>   
            </td>
        </tr>
}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Habitación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se cargará el contenido de la vista de eliminación -->
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#HabitacionesTable').DataTable({
                language: {
                    "sLengthMenu": "Mostrar _MENU_ entradas",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sSearch": "Buscar:"
                }
            });
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-delete').on('click', function (event) {
                event.preventDefault();

                var idHabitacion = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("Delete", "Habitaciones")',
                    type: 'GET',
                    data: { id: idHabitacion },
                    success: function (data) {
                        $('#deleteModal .modal-body').html(data);
                        $('#deleteModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al cargar la vista:", status, error);
                        alert('Error al cargar la vista de eliminación.');
                    }
                });
            });
                
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.status-toggle').change(function () {
                const estado = $(this).is(':checked') ? true : false;
                const idHabitacion = $(this).data('id');

                // Aquí puedes realizar una llamada AJAX para actualizar el estado en el servidor
                $.ajax({
                    url: '/Habitaciones/ActualizarEstado', // Cambia esto a la ruta de tu controlador
                    type: 'POST',
                    data: {
                        id: idHabitacion,
                        estado: estado
                    },
                    success: function (response) {
                        console.log('Estado actualizado con éxito:', response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al actualizar el estado:', error);
                    }
                });
            });
        });

    </script>
    
}